body { background: #f5f5f5; }
a {
    @include transition-property(color);
    @include transition-duration(0.4s);
}
p {
    line-height: 1.2em;
}

.row, .row .row { margin-bottom: $columnGutter; }

.topo {
    height: 120px;
    background: {
        image: image-url('fundo.png');
        repeat: no-repeat;
        position: left top;
    };

    h3 {
        margin-top: 75px;
        float: left;
        color: $secondaryColor;
    }
    .logo { margin-top: 25px; float: right; }
}

.menu {
    padding: $columnGutter/2;
    position: relative;

    .item-menu {
        display: block;
        width: 80%;
        margin: 0 10%;
        padding-bottom: 20px;
        @include transition-property(color, background-image);
        @include transition-duration(0.4s);

        &:hover, &.active {
            color: $secondaryColor;
        };

        &.unidade {
            padding-top: image-height( sprite-file($icones, menu-unidades) ) + 15;
            background: sprite($icones, menu-unidades, 20px) no-repeat;
            border-bottom: 1px solid $mainColor;
            margin-bottom: 10px;

            &:hover, &.active {
                background: sprite($icones, menu-unidades_hover, 20px) no-repeat;
            };
        }

        &.eventos-especiais {
            padding-top: image-height( sprite-file($icones, menu-eventos-especiais) ) + 15;
            background: sprite($icones, menu-eventos-especiais, 20px) no-repeat;

            &:hover, &.active {
                background: sprite($icones, menu-eventos-especiais_hover, 20px) no-repeat;
            };
        }

        &.hashsesc {
            margin-bottom: 10px;
            padding-top: image-height( sprite-file($icones, menu-hashtag) ) + 15;
            background: sprite($icones, menu-hashtag, 20px) no-repeat;
            border-bottom: 1px solid $mainColor;

            &:hover, &.active {
                background: sprite($icones, menu-hashtag_hover, 20px) no-repeat;
            };
        }
    }

    .sub-menu {
        @include absolute( 0, 0, 0, 0 );
        @include push(11);
        display: none;
        z-index: 2;

        .aba {
            float: left;
            margin-top: 30px;
            position: relative;
            z-index: 3;
            @include cssTriangle(10px, $blockColor, right);
        }

        .sub-menu-content {
            float: left;
            padding: $columnGutter;
            @include single-box-shadow( rgba(#000, 0.5) );

            h4 { color: $secondaryColor; }
            h5 { color: $mainColor; }

            ul {
                width: 100%;

                li {
                    min-width: 50%;
                    float: left;
                }
            }
        }

        &.menu-unidades {
            width: 500px;

            .aba { margin-top: 120px; }
            .sub-menu-content {
                width: 460px;

                a:hover { color: $secondaryColor; };
            }
        }

        &.menu-eventos {
            width: 400px;

            .aba { margin-top: 210px; }
            .sub-menu-content {
                padding: $columnGutter;
                width: 360px;
                margin-top: 140px;
            }
        }

    }
}

.bloco-data {
    @extend .bg-cinza;
    @extend .p10;
    @extend .link-azul;
    @include font-size(16);
    font-weight: bold;
    color: $secondaryColor;
    margin-bottom: $columnGutter;
}

.conteudo-principal {
    // display: none;

    .filtro {
        display: block;
        width: 100%;
        height: 37px;
        color: $secondaryColor;
        background-color: $blockColor;
        font-weight: bold;
        @include font-size(16);
        @include transition-property(color, background-color);
        @include transition-duration(0.4s);

        &:hover, &.active {
            background-color: $secondaryColor;
            color: $white;
        };
    }

    .bloco-data {
        @extend .bg-cinza;
        @extend .p10;
        @include font-size(16);
        font-weight: bold;
        color: $secondaryColor;
        margin-bottom: $columnGutter;
    }

    .fotos {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            // @include column(4);
            position: relative;
            float: left;
            width: 210px;
            height: 210px;
            overflow: hidden;
            margin-right: 8px;
            margin-bottom: $columnGutter;

            &:nth-child(3n) { margin-right: 0; };

            .imagem {
                @include absolute($top:0, $left:0);
                display: block;
                width: 100%;
                height: 100%;
            }

            .legenda {
                width: 100%;
                padding: 10px;
                cursor: pointer;
                background: $black;
                background: rgba( $black, 0.8 );
                @include opacity(0);
                @include absolute($bottom:-100px, $left:0);
                @include transition-property(bottom, opacity);
                @include transition-duration(0.4s);
                @include transition-timing-function(ease-out);

                p {
                    margin: 0;
                    color: $white;

                    a {
                        color: $white;
                        font-weight: bold;
                    }
                }
            }

            &:hover {
                .legenda {
                    bottom: 0;
                    @include opacity(1);
                }
            }
        }
    }

    .bt-carregar-mais {
        display: none;
        margin: 0 auto;
        padding-top: 15px;
        color: $secondaryColor;
        font-weight: bold;
        background: sprite($icones, bt-mais) no-repeat;

        @include sprite-dimensions($icones, bt-mais);
        @include font-size(18);
        @include border-radius($buttonRadius);
        @include transition-property(color);
        @include transition-duration(0.4s);


        &:hover {
            color: $white;
            background: sprite($icones, bt-mais_hover) no-repeat;
        };
    }
}

.conteudo-interna {
    display: none;

    .descricao {
        @include font-size(14);
        @extend .link-azul;

        a { font-weight: bold; }
        p { margin: 0; }
    }

    .curtir {
        overflow: hidden;
        padding-left: 40px;
    }
}