.border-radius { @include border-radius($buttonRadius); }

.bg-cinza { background-color: $blockColor; }
.bg-cinza-escuro { background-color: $mainColor; }

.p10 { padding: 10px; }

.link-azul {
    a {
        color: $secondaryColor;
        &:hover { color: $white; };
    }
}