.ui-datepicker{
    display                        : none;
    background-color               : $blockColor;
    min-height                     : 252px;

    .ui-datepicker-header {
        width                      : 100%;
        background                 : $blockColor;
        color                      : $secondaryColor;
        position                   : relative;
        padding                    : 15px 10px;

        a{
            @extend .ir;
            width                  : 15px;
            height                 : 15px;
            position               : absolute;
            top                    : auto;
            left                   : auto;
            overflow               : hidden;
            text-indent: -110%;
            &.ui-datepicker-prev{
                left               : 10px;
                background   : sprite($icones, seta-azul-esquerda) no-repeat $blockColor;
            }
            &.ui-datepicker-next{
                right              : 10px;
                background   : sprite($icones, seta-azul-direita) no-repeat $blockColor;
            }
        }
        .ui-datepicker-title {
            color                  : $secondaryColor;
            font-style             : normal;
            font-weight            : bold;
            @extend .text-center;
            @include font-size(18);
        }
    }

    .ui-datepicker-calendar {

        table-layout               : fixed;
        width                      : 100%;
        height                     : 100%;
        text-align                 : center;
        background                 : $blockColor;
        border-spacing: 0;
        border: {
                style: solid;
                color: $mainColor;
                width: 0 0 1px 0;
            }


        a,
        th,
        td {
            @extend .text-center;
            color                  : $txtColor;
            background             : $blockColor;
            padding                : 0px;
            vertical-align         : middle;
            @include font-size(12);
        }

        th {
            border: 1px solid $blockColor;
            font-weight: normal;
            @include font-size(10);
        }

        td {
            border: {
                style: solid;
                color: $mainColor;
                width: 1px 0 0 1px;
            }

            &:last-child { border-width: 1px 1px 0 1px };


            .ui-state-active,
            .ui-state-highlight {
                background         : $secondaryColor;
                color              : $white;
                font-weight        : bold;
            }

            &.ui-datepicker-today > .ui-state-default {
                background         : lighten($mainColor, 10%);
                color              : $white;
                font-weight        : bold;
            }

            &.ui-datepicker-unselectable {
                color: darken( $blockColor, 10 );
            }

            a {
                display            : block;
                width              : 100%;
                padding            : 5px;
                text-decoration    : none;
                font-weight: bold;

                &:hover {
                    background     : $secondaryColor;
                    color          : $white;
                };

                &.ui-priority-secondary {
                    color: darken( $blockColor, 20 );
                }
            }

            span {
                display            : block;
                width              : 100%;
                padding            : 5px;
            }

        }
    }
}
