﻿
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>InstaSesc</title>
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src="javascripts/foundation/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body data-grid-framework="f3" data-grid-color="black" data-grid-opacity="0.1" data-grid-zindex="-1">

	<div class="row topo">
		<div class="twelve columns">
			<h3>INSTASESC</h3>
			<img src="images/logo-sesc.png" class="logo" />
			<hr />
		</div>
	</div>

	<!-- <div class="row">
		<div class="twelve columns">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ut incidunt asperiores cumque voluptates atque praesentium ullam beatae quae soluta vitae aspernatur architecto animi temporibus dolore facilis consequuntur aliquid! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ut incidunt asperiores cumque voluptates atque praesentium ullam beatae quae soluta vitae aspernatur architecto animi temporibus dolore facilis consequuntur aliquid!</p>
		</div>
	</div> -->

	<div class="row">

		<div class="two columns">
			<div class="menu panel radius bg-cinza">
				<a href="#" class="item-menu text-center hashsesc active">sescsp</a>
				<a href="#" class="item-menu text-center unidade">Unidades</a>
				<a href="#" class="item-menu text-center eventos-especiais">Eventos <br/>Especiais</a>
				<!-- <a href="#" class="item-menu text-center data">Data</a> -->

				<div class="sub-menu menu-eventos">
					<div class="aba"></div>
					<div class="sub-menu-content bg-cinza border-radius">
						<h4 class="text-center">Hashtags</h4>
						<hr />
						<cfobject name="Instagram" component="#dir_componentes#InstagramEvento"/>
						<cfset queryHashtags = #Instagram.ListaHashtags()# />
						<ul class="disc">
							<cfloop query="queryHashtags">
								<li>
									<a href="#<cfscript>
												writeOutput(hashtag);
											</cfscript>">
											#<cfscript>
												writeOutput(hashtag);
											</cfscript>
									</a>
								</li>
							</cfloop>
						</ul>
					</div>
				</div>

				<div class="sub-menu menu-unidades">
					<div class="aba"></div>
					<div class="sub-menu-content bg-cinza border-radius">
						<h4 class="text-center">Visualize as imagens por Unidades Sesc</h4>
						<hr />
						<h5><strong>Capital</strong></h5>
						<ul class="disc">
							<li><a href="#sesc24demaio">24 de maio</a></li>
							<li><a href="#sescconsolacao">Consolação</a></li>
							<li><a href="#sescpompeia">Pompeia</a></li>
							<li><a href="#sescavenidapaulista">Avenida Paulista</a></li>
							<li><a href="#sescinterlagos">Interlagos</a></li>
							<li><a href="#sescsantana">Santana</a></li>
							<li><a href="#sescbelenzinho">Belenzinho</a></li>
							<li><a href="#sescipiranga">Ipiranga</a></li>
							<li><a href="#sescsantoamaro">Santo Amaro</a></li>
							<li><a href="#sescbomretiro">Bom Retiro</a></li>
							<li><a href="#sescitaquera">Itaquera</a></li>
							<li><a href="#sescsantoandre">Santo André</a></li>
							<li><a href="#sesccarmo">Carmo</a></li>
							<li><a href="#sescosasco">Osasco</a></li>
							<li><a href="#sescsaocaetano">São Caetano</a></li>
							<li><a href="#sesccinesesc">CineSESC</a></li>
							<li><a href="#sescpinheiros">Pinheiros</a></li>
							<li><a href="#sescvilamariana">Vila Mariana</a></li>
						</ul>
						<hr />
						<h5><strong>Interior e Litoral</strong></h5>
						<ul class="disc">
							<li><a href="#sescararaquara">Araraquara</a></li>
							<li><a href="#sesccatanduva">Catanduva</a></li>
							<li><a href="#sescsaojosedoscampos">S. J. Campos</a></li>
							<li><a href="#sescbauru">Bauru</a></li>
							<li><a href="#sescpresidenteprudente">P. Prudente</a></li>
							<li><a href="#sescsantos">Santos</a></li>
							<li><a href="#sescbertioga">Bertioga</a></li>
							<li><a href="#sescpiracicaba">Piracicaba</a></li>
							<li><a href="#sescsaocarlos">São Carlos</a></li>
							<li><a href="#sescbirigui">Birigui</a></li>
							<li><a href="#sescribeiraopreto">Ribeirão Preto</a></li>
							<li><a href="#sescsorocaba">Sorocaba</a></li>
							<li><a href="#sesccampinas">Campinas</a></li>
							<li><a href="#sescriopreto">Rio Preto</a></li>
							<li><a href="#sesctaubate">Taubaté</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="ten columns conteudo-principal">
			<div class="row tags-sesc">
				<div class="twelve columns"><a href="#" class="filtro bg-cinza p10 active tag">#sescsp</a></div>
			</div>

			<div class="row">
				<div class="twelve columns container-fotos"></div>
			</div>
			<div class="row text-center">
				<a href="javascript:;" class="bt-carregar-mais">CARREGAR MAIS IMAGENS</a>
				<img src="images/ajax-loader.gif" class="loading-gif" />
			</div>
		</div>

		<div class="ten columns conteudo-interna">
			<div class="row loading-interna text-center">
				<img src="images/ajax-loader.gif" />
			</div>
			<div class="row">
				<div class="twelve columns">
					<div class="bloco-data text-right">
						<a href="#voltar" class="bt-voltar">Voltar</a>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="twelve columns conteudo-foto-interna"></div>
			</div>

			<div class="row">
				<div class="seven columns descricao"></div>
				<div class="five columns curtir">
					<div class="fb-like" data-href="http://localhost/sesc/instasesc/" data-send="true" data-width="80" data-show-faces="false" data-font="arial"></div>
				</div>
			</div>

			<div class="row">
				<div class="twelve columns">
					<div class="fb-comments" data-href="http://localhost/sesc/instasesc/" data-width="647" data-num-posts="10"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fb-root"></div>

	<!-- Included JS Files (Uncompressed) -->
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>
	<script src="javascripts/jquery.instagram.js"></script>

	<!-- Application Javascript, safe to override -->
	<script src="javascripts/app.js"></script>

	<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=478065802245139";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>