<cfoutput>
	<cfcontent reset="true">
		
		<cfobject name="ObjInstagram" component="#dir_componentes#Instagram">
		<cfscript>
			json = serializeJSON(ObjInstagram.ListaEventos());
			writeOutput(json);
		</cfscript>
	<cfabort>
</cfoutput>